#actionbar
    background: $color-white
    border-radius: 8px
    box-shadow: $shadow-default
    left: 50%
    max-width: 90vw
    min-height: 3rem
    overflow: hidden
    padding: 0.5rem 1rem
    position: absolute
    top: 1rem
    transform: translateX(-50%)
    width: auto
    z-index: 3

    .mode
        align-items: center
        display: none
        gap: 1.5rem

        &.active
            display: flex

    .icon
        font-size: 1.25rem
        color: $color-icon

    input[type="search"]
        background: $color-white
        border-radius: 0
        border: none
        margin: -0.5rem
        min-width: 60ch
        padding: 0.5rem
        width: 100%

        &:focus,
        &:active
            border: none
            border-bottom: 1px solid $color-border
            outline: none

    .buttons
        display: flex
        gap: 0.5rem

    .coordinates
        display: flex
        gap: 0.5rem

    button
        @include buttonPrimary

#quickresults
    border-radius: 8px
    box-shadow: $shadow-default
    left: 50%
    overflow: hidden
    position: absolute
    top: 4.5rem
    transform: translateX(-50%)
    z-index: 10

    .result
        align-items: center
        background: $color-white
        border-bottom: 1px solid $color-border
        cursor: pointer
        display: flex
        gap: 1rem
        justify-content: space-between
        margin: 0
        min-width: 60ch
        padding: 0.5rem

        &:hover
            background: darken($color-white, 5%)

        & > *:nth-child(2)
            color: $color-icon
            font-size: 13px
            text-align: right

        .category
            align-items: center
            background: var(--color)
            border-radius: 0.25rem
            color: $color-white
            display: flex
            gap: 0.5rem
            padding: 0.25rem 0.5rem
