@import variables

// -------------------------------------------------------------------------------------------------------------------

*
    box-sizing: border-box

html
    margin: 0
    padding: 0

body
    font-family: $font-default
    font-size: 16px
    height: 100dvh
    margin: 0
    max-height: 100vh
    overflow-scrolling: touch
    -webkit-overflow-scrolling: touch
    overflow: hidden
    overscroll-behavior: contain
    padding: 0
    touch-action: manipulation

main
    height: 100dvh
    max-height: 100dvh
    position: relative
    width: 100%

button.primary
    @include buttonPrimary

button.secondary
    @include buttonSecondary

hr
    background: $color-border
    height: 1px
    border: none


// --- Imports --------------------------------------------------------------------------------------------------------

@import map
@import actionbar
@import login
@import dialog
@import search
@import drawer
@import drawer-marker
@import toast
