$button-background: #515151
$button-color: #ffffff
$button-border-radius: 8px
$font-default: IBMPlexSans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif

@font-face
    font-family: IBMPlexSans
    src: url("../fonts/IBMPlexSansVar-Roman.woff2") format("woff2"),
    font-style: normal

@font-face
    font-family: IBMPlexSans
    src: url("../fonts/IBMPlexSansVar-Italic.woff2") format("woff2"),
    font-style: italic

@mixin buttonTouch($color: #818181)
    cursor: pointer
    background: none
    border: none
    color: $color
    font-size: 1.5rem
    height: 2.5rem
    width: 2.5rem

    &:hover
        color: darken($color, 30%)

@mixin inputField
    background: #fff
    border-radius: 8px
    border: 1px solid #818181
    color: #000
    font-family: $font-default
    font-size: 1rem
    padding: 0.5rem
    width: 100%

@mixin desktop
    @media (min-width: 1024px)
        @content


// -------------------------------------------------------------------------------------------------------------------

*
    box-sizing: border-box


html
    margin: 0
    padding: 0

body
    font-family: $font-default
    height: 100dvh
    margin: 0
    overflow: hidden
    max-height: 100vh
    padding: 0
    overscroll-behavior: contain
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch
    touch-action: manipulation

main
    height: 100dvh
    max-height: 100dvh
    position: relative
    width: 100%

button.primary
    cursor: pointer
    border-radius: $button-border-radius
    border: 1px solid $button-color
    color: $button-color
    background: $button-background
    display: flex
    gap: 1rem
    justify-content: center
    align-items: center
    padding: 0.75rem
    font-size: 20px

    &:hover
        background: darken($button-background, 10%)

button.secondary
    cursor: pointer
    border-radius: $button-border-radius
    border: 1px solid $button-background
    color: $button-background
    background: $button-color
    display: flex
    gap: 1rem
    justify-content: center
    align-items: center
    padding: 0.5rem 0.75rem
    font-size: 20px

    &:hover
        background: darken($button-color, 10%)

#map
    background: #c4c4c4
    inset: 0
    position: fixed
    z-index: 1

    &.activesearch
        .wally-marker
            div
                background: var(--color, #000)
                display: block
                width: 0.5rem
                height: 0.5rem
                border-radius: 100%
                position: relative
                top: 0.5rem
                left: 0.5rem

            svg, i
                display: none

    .wally-user
        width: 1rem
        height: 1rem
        border-radius: 100%
        background: rgba(#1863ad, 0.5)
        outline: 0.5rem solid rgba(#1863ad, 0.15)

    .wally-ping
        width: 1rem
        height: 1rem
        border-radius: 100%
        background: rgba(0,0,0, 0.5)
        outline: 0.5rem solid rgba(0,0,0, 0.15)

    .wally-searchresult
        width: 2rem
        height: 2rem
        border-radius: 100%
        background: rgba(255,0,0, 0.35)
        display: flex
        justify-content: center
        align-items: center
        font-weight: bold

    .wally-marker
        border: none
        background: none
        position: relative
        z-index: 1
        border-radius: 100%

        &.selected
            background: rgba(0,0,0, 0.15)
            outline: 1rem solid rgba(0,0,0, 0.15)
            outline-style: solid !important

        svg
            position: absolute
            inset: 0
            z-index: 1

        i
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            inset: 0
            font-size: 14px
            color: #fff
            z-index: 2

    .marker-category
        font-size: 1.5rem


#searchbar
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07)
    display: flex
    overflow: hidden
    position: absolute
    left: 0.5rem
    right: 0.5rem
    top: 0.5rem
    z-index: 2
    border: 1px solid #515151
    border-radius: 8px
    height: 40px

    @include desktop
        left: 25.5rem

    i
        font-size: 1.25rem
        color: #818181
        position: absolute
        left: 8px
        top: 10px
        z-index: 2

    input
        background: rgba(255, 255, 255, 0.6)
        border-radius: 0
        border: none
        width: 100%
        padding: 0.5rem 3rem 0.5rem 2.5rem
        position: absolute
        inset: 0
        z-index: 1
        height: 40px

        &:focus,
        &:not(:empty)
            background: rgba(255, 255, 255, 1)

            & ~ button
                opacity: 1

    button
        opacity: 0
        transition: all 0.2s ease-in-out
        background: #515151
        border-radius: 0
        border: none
        bottom: 0
        color: #fff
        cursor: pointer
        padding: 0.5rem 0.75rem
        position: absolute
        right: 0
        top: 0
        width: 2.5rem
        z-index: 10

        i
            color: #fff

        &:hover
            background: #666

#quickresults,
#searchresults
    position: absolute
    z-index: 10
    left: 0.5rem
    right: 0.5rem
    top: 3rem
    box-shadow: 0 0 1rem rgba(0,0,0,0.1)
    border-radius: 4px
    overflow: hidden

    .result
        background: #fff
        border-bottom: 1px solid #ccc
        cursor: pointer
        display: none
        margin: 0
        padding: 0.5rem
        grid-template-columns: 1fr 1fr
        grid-template-rows: auto auto
        grid-template-areas: "name name" "address address" "category rating"

        &.visible
            display: grid

        &:hover
            background: #f1f2f4

        .name
            font-size: 16px
            font-weight: bold
            color: #000
            grid-area: name

        .address
            font-size: 12px
            color: #000
            grid-area: address

        .category
            font-size: 12px
            color: #818181
            grid-area: category

        .rating
            font-size: 12px
            color: #818181
            grid-area: rating
            justify-self: flex-end

#searchresults
    bottom: 0.5rem
    top: auto

#controls
    position: absolute
    bottom: 1.5rem
    right: 0.5rem
    display: flex
    flex-direction: column
    gap: 1rem
    z-index: 2

    button
        background: $button-background
        border-radius: $button-border-radius
        border: none
        color: $button-color
        cursor: pointer
        font-size: 1.5rem
        height: 2.5rem
        width: 2.5rem
        display: flex
        justify-content: center
        align-items: center

        &:hover
            background: darken($button-background, 25%)

#results
    position: absolute
    top: 5rem
    right: 3rem
    z-index: 2
    min-width: 40ch
    min-height: 1rem
    background: #eee

#search-area
    position: absolute
    top: 1rem
    left: 1rem
    z-index: 2


hr
    background: #B0B0B0
    height: 1px
    border: none

input.category-edit
    border: 1px solid #515151
    border-radius: 8px
    width: 100%
    padding: 0.5rem
    margin: 0 0 1rem 0

.icons
    display: grid
    gap: 0
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: auto
    margin: 1rem 0

    .icon
        align-items: center
        border-radius: 8px
        border: 2px solid #fff
        display: flex
        font-size: 1.5rem
        justify-content: center
        padding: 0.5rem

        &.active
            border: 2px solid #000
            background: #eee

.colors
    display: grid
    gap: 0.5rem
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: auto
    margin: 1rem 0

    .color
        background: var(--color, #cccccc)
        border-radius: 16px
        min-height: 3rem
        border: 8px solid #fff

        &.active
            border-radius: 8px
            border: 8px solid var(--color, #cccccc)


.toastify
    transform: translate(0px)
    top: 15px
    position: absolute
    z-index: 11
    background: #515151
    color: #fff
    left: 0.5rem
    right: 0.5rem
    border-radius: 8px
    text-align: center
    padding: 0.5rem
    transform: translateY(-15px)
    transition: all 0.5s ease-in-out

    .toast-close
        position: absolute
        right: 0.5rem
        background: none
        border: none
        color: #fff


// --------------------------------------------------------------------------------------------------------------------

#drawers
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 100dvh
    overflow: hidden

.drawer
    background: #fff
    opacity: .6
    padding: 0
    position: absolute
    transform: translateY(100%)
    transition: all .3s ease-in-out
    max-height: 100vh

    border-top-left-radius: 1rem
    border-top-right-radius: 1rem
    bottom: 0
    left: 0
    right: 0
    z-index: 3

    &.active
        transform: translateY(0)
        opacity: 1

    .title
        align-items: center
        color: #000
        display: flex
        font-size: 1.5rem
        justify-content: space-between
        margin: 0 0 1rem 0

        button
            @include buttonTouch(#818181)

    ul
        list-style: none
        margin: 0
        padding: 0

    .buttons
        display: flex
        gap: 0.5rem

        button
            width: 100%

    &[data-drawer="marker"]
        padding: 0

        .details
            overflow-y: auto

    &[data-drawer="categories"],
    &[data-drawer="ratings"]
        padding: 1rem
        z-index: 5
        max-height: 100svh

        ul
            overflow: auto
            max-height: calc(100svh - 5rem)

    &[data-drawer="ping"]
        padding: 1rem
        z-index: 2

        button.primary
            width: 100%

    &[data-drawer="searchresult"]
        padding: 1rem

        &.active
            .controls
                display: flex

        .controls
            position: absolute
            top: -3.5rem
            right: 1rem
            gap: 1rem
            display: none

            button
                background: #fff
                border-radius: 100%
                border: 0
                box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.2)
                color: #818181
                cursor: pointer
                font-size: 20px
                height: 2.5rem
                padding: 0.5rem
                width: 2.5rem

                &:hover
                    background: #eee

        .category
            display: block
            font-size: 14px
            color: #818181

        .address
            margin: 0 0 1rem 0

        button.primary
            width: 100%


li.listitem
    display: grid
    grid-gap: 0 1rem
    grid-template-areas: "icon name  options" "icon stats options"
    grid-template-columns: 2.5rem auto auto
    grid-template-rows: 1fr 1fr
    border-top: 1px solid #C5C5C5
    cursor: pointer
    align-items: center
    padding: 0.75rem 0
    color: #515151

    &.small
        grid-template-areas: "icon name options"
        grid-template-rows: 1fr

    &:hover,
    &.active
        //color: #000000
        color: red

    .icon
        align-items: center
        border-radius: 100%
        color: var(--color, #333)
        display: flex
        font-size: 1.5rem
        grid-area: icon
        height: 2.5rem
        justify-content: center
        width: 2.5rem

    .name
        font-size: 20px
        grid-area: name

    .stats
        color: #a0a0a0
        font-size: 16px
        grid-area: stats

    .options
        display: flex
        grid-area: options
        justify-content: flex-end

        button.edit
            @include buttonTouch

.drawer[data-drawer="marker"]
    display: flex
    flex-direction: column
    height: 20rem
    max-height: 20rem
    transition: all 0.3s ease-in-out

    &:before
        display: block
        position: absolute
        bottom: 4.9rem
        height: 5rem
        left: 0
        right: 0
        content: " "
        background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%)
        z-index: 10
        transition: opacity 0.3s ease-in-out
        opacity: 1

    &.extended
        max-height: 100svh
        height: 100svh

        &::before
            opacity: 0
            pointer-events: none

        .header
            pointer-events: all

    .header
        border-top-left-radius: 1rem
        border-top-right-radius: 1rem
        background: var(--color, #515151)
        color: #fff
        padding: 1rem
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: auto
        pointer-events: none

        input
            @include inputField

        .title
            color: #fff
            grid-column: span 2

            button
                @include buttonTouch(#eee)

        .category,
        .rating
            align-items: center
            display: flex
            gap: 0.5rem

            i.ph
                font-size: 1.5rem

        .rating
            justify-content: flex-end

    .group
        border-top: 1px solid #ccc
        display: flex
        gap: 0.5rem
        padding: 1rem

        .icon
            color: #818181
            flex: 0 0 24px
            font-size: 1.5rem

        .text
            flex: 1 1 auto
            font-size: 1rem
            color: #000

        .text-secondary
            font-size: 0.9rem
            color: #818181

        button.edit
            @include buttonTouch

        &.notes
            flex-direction: column

            .title
                display: flex
                justify-content: space-between
                width: 100%
                margin: 0

            p
                margin: 0 0 1rem 0

            textarea
                @include inputField

        &.photos
            overflow-x: auto

            .photo
                width: 150px
                height: 150px
                position: relative

                img
                    border-radius: 8px

                button
                    background: rgba(#818181,0.3)
                    border-radius: 8px
                    border: none
                    color: #fff
                    cursor: pointer
                    font-size: 1.5rem
                    height: 3rem
                    position: absolute
                    right: 4px
                    top: 4px
                    width: 3rem

                    &:hover
                        background: rgba(#818181,1)

            .photo-new
                align-items: center
                background: #E7E7E7
                border-radius: 8px
                color: #818181
                display: flex
                font-size: 2.5rem
                height: 150px
                justify-content: center
                max-width: 150px
                min-width: 150px
                position: relative
                width: 150px

                form
                    border-radius: 8px
                    inset: 0
                    overflow: hidden
                    position: absolute
                    display: flex
                    flex-direction: column-reverse

                .preview
                    height: 100%
                    inset: 0
                    object-fit: cover
                    position: absolute
                    width: 100%
                    z-index: 1
                    border: none

                input[type="file"]
                    background: red
                    opacity: 0
                    inset: 0
                    position: absolute
                    z-index: 2

                    &:valid ~ button
                        display: block

                .repeat
                    align-items: center
                    color: #fff
                    cursor: pointer
                    display: flex
                    font-size: 2rem
                    justify-content: center
                    pointer-events: none
                    position: relative
                    flex: 1 1 auto
                    z-index: 3

                button
                    flex: 1 1 auto
                    display: none
                    background: rgba(255,255,255,0.3)
                    border: none
                    color: #fff
                    cursor: pointer
                    font-size: 2rem
                    position: relative
                    z-index: 4
                    width: 100%

    .footer
        border-top: 1px solid #ccc
        display: flex
        justify-content: space-around
        margin-top: auto
        padding: 1rem
        height: 5rem

        .button
            align-items: center
            color: #818181
            cursor: pointer
            display: flex
            flex-direction: column
            gap: 0.5rem

            &:hover
                color: darken(#818181, 30%)


ul.tags
    display: flex
    flex-wrap: wrap
    list-style: none
    margin: 0
    padding: 0
    gap: 0.5rem

    li
        border: none
        background: #efefef
        border-radius: 0.5rem
        padding: 0.25rem 0.75rem 0.25rem 0.725rem
        font-size: 14px
        display: flex
        align-items: center

    button
        border: none
        background: none
        font-size: 1.125rem
        color: #515151

div.tags
    input
        margin: 1rem 0 0 0
        @include inputField
