<div class="title">
    <span>
        <span class="lat">-</span> / <span class="lng">-</span></strong>
    </span>
    <button onclick="hideMapPing()">
        <i class="ph ph-x"></i>
    </button>
</div>
<button class="primary" hx-post="{{ "markersCreate" | alias }}" hx-target="#details" hx-swap="innerHTML" hx-vals='js:{lat: mapPing.getLatLng().lat, lng: mapPing.getLatLng().lng}' hx-on::after-request="showMarkerPane()">
    <i class="ph ph-bookmark-simple"></i>
    Create new Marker here
</button>
