<div class="header" style="--color: {{ @category->color }}">
    <div class="title">
        {{ @marker->name | raw }}
    </div>

    <check if="{{ @LOGIN }}">
        <div class="category" hx-get="{{ "markerCategory", "id=".@marker->id | alias }}" hx-target="[data-drawer='marker']" hx-swap="innerHTML">
    </check>
    <check if="!{{ @LOGIN }}">
        <div class="category no-action">
    </check>
        <i class="ph ph-{{ @category->icon }}"></i>
        {{ @category->name }}
    </div>

    <check if="{{ @LOGIN }}">
        <div class="rating" hx-get="{{ "markerRating", "id=".@marker->id | alias }}" hx-target="[data-drawer='marker']" hx-swap="innerHTML">
    </check>
    <check if="!{{ @LOGIN }}">
        <div class="rating no-action">
    </check>
        <i class="ph ph-{{ @rating->icon }}"></i>
        {{ @rating->name }}
    </div>

    <div class="arrow">
        <i class="ph ph-caret-up"></i>
    </div>
</div>

<div class="details">

    <div class="address group">
        <div class="icon">
            <i class="ph ph-map-trifold"></i>
        </div>
        <div class="text">
            <div class="address">
                {{ @marker->address | raw }}
            </div>
            <div class="coordinates text-secondary">
                {{ @marker->lat }} / {{ @marker->lng}}<br>
            </div>
        </div>
    </div>

<div class="photos group">
    <check if="{{ sizeof(@uploads) < 1 }}">
        <p class="empty">No photos yets</p>
    </check>
    <repeat group="{{ @uploads }}" value="{{ @upload }}">
        <div class="photo">
            <a href="{{ @upload->image }}" target="_blank">
                <img src="{{ @upload->thumb }}">
            </a>
        </div>
    </repeat>

    <check if="{{ @LOGIN }}">
        <div class="photo-new">
            <form id="upload" hx-encoding="multipart/form-data" hx-post="{{ "markerUpload" | alias }}" hx-target="[data-drawer='marker']">
                <img class="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                <input type="file" name="file" accept="image/*" capture="camera" required onchange="previewImage(event)"/>
                <button><i class="ph ph-check"></i></button>
                <div class="repeat">
                    <i class="ph ph-camera-plus"></i>
                </div>
            </form>
        </div>
    </check>
</div>

<div class="tags group">
    <div class="icon">
        <i class="ph ph-tag"></i>
    </div>
    <div class="text">
        <ul class="tags">
            <check if="{{ sizeof(@tags) == 0 }}">
                <li class="empty">No tags yet</li>
            </check>
            <repeat group="{{ @tags }}" value="{{ @tag }}">
                <li data-counter="{{ @tag->amount }}">{{ @tag->tag }}</li>
            </repeat>
        </ul>
    </div>
</div>

<div class="notes group">
    <div class="title">
        <b>Notes</b>
    </div>
    <check if="{{ @marker->notes == null }}">
        <p class="empty">No notes yet.</p>
    </check>
    <check if="{{ @marker->notes != null }}">
        <p>{{ @marker->notes | nl2br }}</p>
    </check>
</div>

</div>

<div class="footer" style="--color: {{ @category->color }}">
    <check if="{{ @LOGIN }}">
        <div class="button" onclick="deleteMarker({{ @marker->id }})">
            <i class="ph ph-trash"></i>
            <span>Delete</span>
        </div>
    </check>

    <div class="button" onclick="hideMarkerDetails()">
        <i class="ph ph-x"></i>
        <span>Close</span>
    </div>

    <check if="{{ @LOGIN }}">
        <div class="button" hx-get="{{ "markerEdit", "id=".@marker->id | alias }}" hx-target="[data-drawer='marker']">
            <i class="ph ph-pencil-simple-line"></i>
            <span>Edit</span>
        </div>
    </check>

    <div class="button" hx-get="{{ "shareMarker", "marker=".@marker->id | alias }}" hx-target="dialog" hx-on::after-request="openDialog()">
        <i class="ph ph-share-network"></i>
        <span>Share</span>
    </div>
</div>

<script>

function previewImage(event) {
    var output = document.querySelector("#upload .preview");
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
        URL.revokeObjectURL(output.src) // free up memory
    }
};

function deleteMarker(markerId) {
    var confirmation = window.confirm("Do you really want to delete this marker?");
    if (confirmation) {
        htmx.ajax(
            "DELETE",
            `/markers/${markerId}`,
            {
                "target": "#null"
            }
        );
        toggleDrawer("marker", false);
        loadMarkers();
    }
}

</script>
