<div class="header" style="--color: {{ @category->color }}">
    <div class="title">
        {{ @marker->name }}
    </div>

    <div class="category" hx-get="{{ "markerCategory", "id=".@marker->id | alias }}" hx-target="[data-drawer='marker']" hx-swap="innerHTML">
        <i class="ph ph-{{ @category->icon }}"></i>
        {{ @category->name }}
    </div>

    <div class="rating" hx-get="{{ "markerRating", "id=".@marker->id | alias }}" hx-target="[data-drawer='marker']" hx-swap="innerHTML">
        <i class="ph ph-{{ @rating->icon }}"></i>
        {{ @rating->name }}
    </div>
</div>

<div class="details">


    <div class="address group">
        <div class="icon">
            <i class="ph ph-map-trifold"></i>
        </div>
        <div class="text">
            <div class="address">
                {{ @marker->address | raw }}
            </div>
            <div class="coordinates text-secondary">
                {{ @marker->lat }} / {{ @marker->lng}}<br>
            </div>
        </div>
    </div>

<div class="photos group">
    <repeat group="{{ @uploads }}" value="{{ @upload }}">
        <div class="photo">
            <a href="{{ @upload->image }}" target="_blank">
                <img src="{{ @upload->thumb }}">
            </a>
        </div>
    </repeat>

    <div class="photo-new">
        <form id="upload" hx-encoding="multipart/form-data" hx-post="{{ "markerUpload" | alias }}" hx-target="#details">
            <img class="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            <input type="file" name="file" accept="image/*" capture="camera" required onchange="previewImage(event)"/>
            <button><i class="ph ph-check"></i></button>
            <div class="repeat">
                <i class="ph ph-camera-plus"></i>
            </div>
        </form>
    </div>
</div>

<div class="tags group">
    <div class="icon">
        <i class="ph ph-tag"></i>
    </div>
    <div class="text">
        <ul class="tags">
            <repeat group="{{ @tags }}" value="{{ @tag }}">
                <li data-counter="{{ @tag->amount }}">{{ @tag->tag }}</li>
            </repeat>
        </ul>
    </div>
</div>

<div class="notes group">
    <div class="title">
        <b>Notes</b>
    </div>
    <check if="{{ @marker->notes != null }}">
        <p>{{ @marker->notes | nl2br }}</p>
    </check>
</div>

</div>

<div class="footer">
    <div class="button" onclick="deleteMarker({{ @marker->id }})">
        <i class="ph ph-trash"></i>
        <span>Delete</span>
    </div>
    <div class="button" onclick="toggleDrawer('marker', false)">
        <i class="ph ph-x"></i>
        <span>Close</span>
    </div>
    <div class="button" hx-get="{{ "markerEdit", "id=".@marker->id | alias }}" hx-target="[data-drawer='marker']">
        <i class="ph ph-pencil-simple-line"></i>
        <span>Edit</span>
    </div>
    <div class="button" onclick="shareMarker()">
        <i class="ph ph-share-network"></i>
        <span>Share</span>
    </div>
</div>


<script>

function previewImage(event) {
    var output = document.querySelector("#upload .preview");
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
        URL.revokeObjectURL(output.src) // free up memory
    }
};

function deleteMarker(markerId) {
    var confirmation = window.confirm("Do you really want to delete this marker?");
    if (confirmation) {
        htmx.ajax(
            "DELETE",
            `/markers/${markerId}`,
            {
                "target": "#null"
            }
        );
        toggleDrawer("marker", false);
        loadMarkers();
    }
}

async function shareMarker() {
    var url = window.location + "{{ "markersDetails" | alias }}";
    try {
        await navigator.clipboard.writeText(url);
        Toastify({
            text: "URL copied to clipboard",
            duration: 1500,
            close: true,
        }).showToast();
    } catch (error) {
        console.error(error.message);
    }
}

//loadMarkers();

</script>
